.container {
    padding: 1rem;
    background-color: white;
    border-radius: 0.3rem;
}

.metaInfo {
    margin-bottom: 1rem;
    text-align: end;
    font-style: italic;
}

.sectionTitle {
    font-size: large;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.badge {
    margin-right: 0.25rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.editButton {
    margin-right: 0.5rem;
}

.link {
    word-break: break-all;
    overflow-wrap: break-word;
}