.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f5f6f8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 200px;
  }
  
  .loadingSpinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  
  .loadingSpinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #3498db;
    border-radius: 50%;
    animation: loadingSpinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3498db transparent transparent transparent;
  }
  
  .loadingSpinner div:nth-child(1) {
    animation-delay: -0.45s;
  }
  
  .loadingSpinner div:nth-child(2) {
    animation-delay: -0.3s;
  }
  
  .loadingSpinner div:nth-child(3) {
    animation-delay: -0.15s;
  }
  
  @keyframes loadingSpinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }