.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background-color: #f0f0f0;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}
